<style lang="sass">
    @import '../styles/variables'

    nav
        background-color: $navbar-color
        border-bottom: $border-styling
        box-shadow: $navbar-color 0px 5px 10px 2px

        position: fixed
        top: 0

        width: 100%
        height: $navbar_height

        display: flex
        align-items: center
        justify-content: space-between

        .title
            color: $primary_color

            a
                text-decoration: none
                color: $primary_color

        h1, ul
            margin-left: $navbar-margin
            margin-right: $navbar-margin

        ul
            list-style: none

        li
            display: inline-block

            &:not(:last-child)
                margin-right: $navbar-ul-width

    @media (max-width: $navbar-mobile-width-threshold)
        nav
            flex-direction: column
            justify-content: space-evenly
            height: $navbar-height-mobile

        *
            margin: 0
            padding: 0
</style>

<nav>
    <h1 class="title"><a href="/">Vellu's blog!</a></h1>

    <ul>
        <li>
            <p>
                <a href="https://github.com/velllu/velllu.github.io/issues/new">
                    File an issue
                </a>
            </p>
        </li>
        <li>
            <p>
                <a href="/about">
                    <p>About</p>
                </a>
            </p>
        </li>
    </ul>
</nav>
